<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>APIRef Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="https://bootswatch.com/4/materia/bootstrap.min.css" media="screen">
</head>

<body>

    {% include "navigation.html" %}

    <br>

    <div class="container">

        <div class="card border-primary mb-3">
            <div class="card-header"><strong>Manage Access Token</strong></div>
            <div class="card-body">
                <h1 class="card-title">Current access token is</h1>
                <h1 style="text-align: center;"><strong>{{ access_token }}</strong></h1>
                <form action="{{ app_path }}" method="post" role="form">{% csrf_token %}
                    <fieldset>
                        
                        <button type="submit" class="btn btn-primary btn-lg">Regenerate</button>
                        <input type="hidden" name="action" value="regenerate">
                        <input name="next" type="hidden" value="{{ next }}" />
                    </fieldset>
                </form>
            </div>
        </div>
    </div>


    {% include "scripts.html" %}
</body>

</html>