<!DOCTYPE html>
<html lang="en">

<head>
    {% include "head.html" %}
    <style>
        .frame-container {
            width: 100%;
        }

        iframe {
            height: 100%;
            border: none;
            width: 100vw;
            height: 85vh;
            padding: 0;
            margin: 0;
            display: block;
        }
    </style>
</head>

<body>

    {% include "navigation.html" %}

    <br>

    <div class="iframe_area">
        <div class="frame-container">
            <iframe id="api_view" class="embed-responsive-item" src="/apiref_render/"></iframe>
        </div>
    </div>

    {% include "scripts.html" %}
    <script>
        $(document).ready(function() {
            $("#api_view", window.parent.document).height(document.body.scrollHeight);
        });
    </script>
</body>

</html>
