[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2-binary = "*"
gunicorn = "*"
whitenoise = "*"
django-apiblueprint-view = "*"
dj-database-url = "*"
sendgrid = "*"

[dev-packages]
mirage-django-lts = "*"
pylint = "*"
pep8 = "*"
mypy = "*"
pylint-django = "*"

[requires]
python_version = "3.9"
