<!DOCTYPE html>
<html lang="en">

<head>
    {% include "head.html" %}
</head>

<body>
    {% include "navigation.html" %}

    <div class="iframe_area">
        <div class="frame-container">
            <iframe id="api_view" class="embed-responsive-item" src="/apiref_render/"></iframe>
        </div>
    </div>

    {% include "scripts.html" %}
    <script>
        $(document).ready(function() {
            $("#api_view", window.parent.document).height(document.body.scrollHeight);
        });
    </script>
</body>

</html>
