<!DOCTYPE html>
<html lang="en">

<head>
    {% include "head.html" %}
</head>


  <body>
    {% include "../navigation_external.html" %}

    <div class="container">
      <div class="card border-primary mb-3">
        <div class="card-header">Invitation Code</div>
        <div class="card-body">
          <h1 class="card-title">Enter invitation code</h1>
          <p class="text-primary">{{ error_msg }}</p>

    
          <form action="{{ app_path }}" method="post" role="form">
            {% csrf_token %}
            <fieldset>
              <div class="form-group">
                <input
                  type="text"
                  name="verification_code"
                  class="form-control form-control-lg"
                  id="exampleInputEmail1"
                  aria-describedby="emailHelp"
                  placeholder="Enter code"
                />
              </div>
              <button type="submit" class="btn btn-primary btn-lg">
                Continue
              </button>
              <input name="next" type="hidden" value="{{ next }}" />
            </fieldset>
          </form>
        </div>
      </div>
    </div>

    {% include "scripts.html" %}
  </body>
</html>
