<!DOCTYPE html>
<html lang="en">
<head>
    {% include "head.html" %}
</head>

<body>

    {% include "../navigation.html" %}

    <div class="container">

        <div class="card border-primary mb-3">
            <div class="card-header">Generate a new invitation</div>
            <div class="card-body">
                <h1 class="card-title">Enter email address to invite</h1>

                <form action="{{ app_path }}" method="post" role="form">{% csrf_token %}
                    <fieldset>
                        <div class="form-group">
                            <input type="email" name="email" class="form-control form-control-lg" id="exampleInputEmail1" aria-describedby="emailHelp"
                                placeholder="Enter email">
                        </div>
                        <button type="submit" class="btn btn-primary btn-lg">Generate invitation code</button>
                        <input name="next" type="hidden" value="{{ next }}"/>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>


    {% include "scripts.html" %}
</body>
</html>